.App {
  text-align: center;
  margin: 30px;
}

.fruit-card {
  border: 2px solid black;
  background-color: #eee;
  margin-bottom: 10px;
}

#welcome {
  background-color: pink;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

img {
  width: 400px;
}
